
<div class="sidebar left " style="margin-bottom: 30px;" >
  <ul class="list-sidebar bg-defoult">

    <li> <a href="#" data-toggle="collapse" data-target="#linha1" class="collapsed active" >
      <i class="fa fa-th-large"></i>
      <span class="nav-label"> Order = Status = Integration </span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse" id="linha1">
        <li class="active"><a href="#" >Order data</a></li>
        <li><a href="#">Order json</a></li>
      </ul>
    </li>
    <li> <a href="#" data-toggle="collapse" data-target="#linha2" class="collapsed active" >
      <i class="fa fa-th-large"></i> <span class="nav-label"> 2 Order = Status = Waiting to Produce  </span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse" id="linha2">
        <li class="active"><a href="#" >Order data</a></li>
        <li><a href="#">Order json</a></li>
      </ul>
    </li>
    <li> <a href="#" data-toggle="collapse" data-target="#linha2" class="collapsed active" >
      <i class="fa fa-th-large"></i> <span class="nav-label"> 2 Order = Status = Waiting Produced  </span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse" id="linha2">
        <li class="active"><a href="#" >Order data</a></li>
        <li><a href="#">Order json</a></li>
      </ul>
    </li>
    <li> <a href="#" data-toggle="collapse" data-target="#linha2" class="collapsed active" >
      <i class="fa fa-th-large"></i> <span class="nav-label"> 2 Order = Status = Out for delivery  </span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse" id="linha2">
        <li class="active"><a href="#" >Order data</a></li>
        <li><a href="#">Order json</a></li>
      </ul>
    </li>
    <li> <a href="#" data-toggle="collapse" data-target="#linha2" class="collapsed active" >
      <i class="fa fa-th-large"></i> <span class="nav-label"> 2 Order = Status = Customer received  </span> <span class="fa fa-chevron-left pull-right"></span> </a>
      <ul class="sub-menu collapse" id="linha2">
        <li class="active"><a href="#" >Order data</a></li>
        <li><a href="#">Order json</a></li>
      </ul>
    </li>


  </ul>
</div>

